﻿<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("NToastNotify")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PLM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/fontawesome-free-5.13.0-web/js/all.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="">Manager</a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-users"></i>

                                        Staff
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Staffs" asp-action="Index">
                                            <i class="fas fa-users"></i>

                                            Employees
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Staffoccupations" asp-action="Index">
                                            <i class="fas fa-user-tag"></i>

                                            Roles
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cogs"></i>

                                        Resources
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Equipments" asp-action="Index">
                                            <i class="fas fa-cog"></i>

                                            Equipment
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">
                                            <i class="fas fa-boxes"></i>

                                            Product
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Inventories" asp-action="Index">
                                            <i class="fas fa-warehouse"></i>

                                            Inventory
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Boms" asp-action="Index">
                                            <i class="fas fa-clipboard-list"></i>

                                            Bill of materials
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Uoms" asp-action="Index">
                                            <i class="fas fa-balance-scale"></i>

                                            Units of measure
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-project-diagram"></i> Workflows
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Workflows" asp-action="Index">
                                            <i class="fas fa-project-diagram"></i>

                                            Workflow
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Workflowstatus" asp-action="Index">
                                            <i class="fas fa-list-ul"></i>

                                            Workflow Status
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-industry"></i>

                                        Supply
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">
                                            <i class="fas fa-warehouse"></i> 



                                            Supplier
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">
                                            <i class="fas fa-boxes"></i> 



                                            Order
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Productionhistories" asp-action="Index">
                                        <i class="fas fa-history"></i>

                                        Production History
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Wastes" asp-action="Index">
                                        <i class="fas fa-recycle"></i>

                                        Waste Management
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Notifications" asp-action="Index">
                                        <i class="fas fa-bell"> @TempData["notCount"]</i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Downtimes" asp-action="Index">
                                        <i class="fas fa-exclamation-circle"> @TempData["downCount"]</i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Staffs" asp-action="Details" asp-route-id="@TempData["userid"]">
                                        <i class="fas fa-user-tie"></i>
                                        @TempData["firstname"], @TempData["lastname"]
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Staffs" asp-action="Logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false)
</body>
</html>
