﻿@model PLM.Models.Workflow

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Workflow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <select asp-for="StaffId" class ="form-control" asp-items="ViewBag.StaffId" required></select>
            </div>
            <div class="form-group">
                <label asp-for="BomId" class="control-label"></label>
                <select asp-for="BomId" class ="form-control" asp-items="ViewBag.BomId" required></select>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" required/>
                <span asp-validation-for="From" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" required/>
                <span asp-validation-for="To" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowstatusId" class="control-label"></label>
                <select asp-for="WorkflowstatusId" class ="form-control" asp-items="ViewBag.WorkflowstatusId" required></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
