﻿@model IEnumerable<PLM.Models.Workflow>

@{
    ViewData["Title"] = "Workflow";
}

<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .addProject {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>


<p class="addProject">
    @{
        if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i> Add</a>
        }
        else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
        {

        }
        else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
        {

        }
    }
</p>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-dark table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.To)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Workflowstatus)
                    </th>
                    <th>
                        Running Time
                    </th>
                    <th>
                        Time Left (min)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bom.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Workflowstatus.Name)
                    </td>
                    <td>

                        @{if (item.To != null && item.From != null)
                            {
                                var day = item.To - item.From;
                                @day;
                            }
                        }
                    </td>
                    <td>
                        @{if (item.To != null && item.From != null && item.Workflowstatus.Name == "Active")
                            {
                                var timeRem = item.To - DateTime.Now;
                                @Math.Floor(timeRem.Value.TotalMinutes);
                            }
                            else if (item.Workflowstatus.Name == "Completed")
                            {
                                var statusW = "Completed";
                                @statusW;
                            }
                            else if (item.Workflowstatus.Name == "Interrupted")
                            {
                                var statusW = "Check for problems";
                                @statusW;
                            }
                            else if (item.Workflowstatus.Name == "Design")
                            {
                                var statusW = "Ready to start";
                                @statusW;
                            }
                            else if (item.Workflowstatus.Name == "Closed")
                            {
                                var statusW = "Closed and archived";
                                @statusW;
                            }
                        }
                    </td>
                    <td>
                        @{ if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
                            {
                                <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id" asp-route-sid="@item.StaffId" asp-route-beid="@item.BomEquipmentId" asp-route-bpid="@item.BomProductId" asp-route-bid="@item.BomId"><i class="far fa-edit"></i></a>
                                <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                if (item.Workflowstatus.Name == "Completed" || item.Workflowstatus.Name == "Design")
                                {
                                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-sid="@item.StaffId" asp-route-beid="@item.BomEquipmentId" asp-route-bpid="@item.BomProductId" asp-route-bid="@item.BomId"><i class="far fa-trash-alt"></i></a>
                                }
                            }
                            else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
                            {

                            }
                            else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
                            {
                                <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
