﻿@model IEnumerable<PLM.Models.Bom>

@{
    ViewData["Title"] = "Bill Of Materials";
}

<style>

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .addProject {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>

<p class="addProject">
    @{
        if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i> Add</a>
        }
        else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
        {

        }
        else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
        {

        }
    }
</p>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-dark table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @{ if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
                            {
                                <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id" asp-route-eid="@item.EquipmentId" asp-route-pid="@item.ProductId"><i class="far fa-edit"></i></a>
                                <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                            }
                            else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
                            {

                            }
                            else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
                            {

                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>