﻿@model IEnumerable<PLM.Models.Staff>

@{
    ViewData["Title"] = "Index";
}
    <style>

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .addProject {
            margin-top: 30px;
            margin-bottom: 10px;
            margin-right: 20px;
            margin-left: 20px;
        }
    </style>

    <p class="addProject">
        @{ 
            if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
            {
                <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i> Add</a>
            }
            else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
            {

            }
            else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
            {

            }
        }
    </p>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-dark table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>             
                    <th>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StaffOccupation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Avatar)" alt="Avatar" class="avatar">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffOccupation.Name)
                        </td>
                        <td>
                            @{ if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
                                {
                                    <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                    <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                }
                                else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
                                {
                                  
                                }
                                else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
                                {
                                  
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
