﻿@model PLM.Models.Productionhistory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Productionhistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantiy" class="control-label"></label>
                <input asp-for="Quantiy" class="form-control" />
                <span asp-validation-for="Quantiy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowId" class="control-label"></label>
                <select asp-for="WorkflowId" class ="form-control" asp-items="ViewBag.WorkflowId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowStaffId" class="control-label"></label>
                <select asp-for="WorkflowStaffId" class ="form-control" asp-items="ViewBag.WorkflowStaffId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowBomId" class="control-label"></label>
                <select asp-for="WorkflowBomId" class ="form-control" asp-items="ViewBag.WorkflowBomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowBomProductId" class="control-label"></label>
                <select asp-for="WorkflowBomProductId" class ="form-control" asp-items="ViewBag.WorkflowBomProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowBomEquipmentId" class="control-label"></label>
                <select asp-for="WorkflowBomEquipmentId" class ="form-control" asp-items="ViewBag.WorkflowBomEquipmentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
