﻿@model IEnumerable<PLM.Models.Productionhistory>

@{
    ViewData["Title"] = "Production History";
}

<style>

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .addProject {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>

<p class="addProject">
    
</p>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-dark table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantiy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Workflow)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantiy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Workflow.Id)
                    </td>
                    <td>
                        @{ if (TempData["occupationid"].ToString() == "1" || TempData["occupationid"].ToString() == "2")
                            {

                                <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                            
                            }
                            else if (TempData["occupationid"].ToString() == "3" || TempData["occupationid"].ToString() == "4")
                            {

                            }
                            else if (TempData["occupationid"].ToString() == "5" || TempData["occupationid"].ToString() == "6")
                            {

                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>