﻿@model PLM.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expectedqty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expectedqty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availableqty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availableqty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workflow.Id)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-outline-success" asp-controller="Wastes" asp-action="Create"><i class="far fa-plus-square"></i> Scrap</a>
    <a asp-action="Index">Back to List</a>
</div>
