﻿@model PLM.Models.Inventory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Expectedqty" class="control-label"></label>
                <input asp-for="Expectedqty" class="form-control" />
                <span asp-validation-for="Expectedqty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availableqty" class="control-label"></label>
                <input asp-for="Availableqty" class="form-control" />
                <span asp-validation-for="Availableqty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowId" class="control-label"></label>
                <select asp-for="WorkflowId" class="form-control" asp-items="ViewBag.WorkflowId"></select>
                <span asp-validation-for="WorkflowId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowStaffId" class="control-label"></label>
                <select asp-for="WorkflowStaffId" class="form-control" asp-items="ViewBag.WorkflowStaffId"></select>
                <span asp-validation-for="WorkflowStaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowBomId" class="control-label"></label>
                <select asp-for="WorkflowBomId" class="form-control" asp-items="ViewBag.WorkflowBomId"></select>
                <span asp-validation-for="WorkflowBomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowBomProductId" class="control-label"></label>
                <select asp-for="WorkflowBomProductId" class="form-control" asp-items="ViewBag.WorkflowBomProductId"></select>
                <span asp-validation-for="WorkflowBomProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowBomEquipmentId" class="control-label"></label>
                <select asp-for="WorkflowBomEquipmentId" class="form-control" asp-items="ViewBag.WorkflowBomEquipmentId"></select>
                <span asp-validation-for="WorkflowBomEquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
